body {
    background-color: #385972;
}

nav {
    background-color: #385972;
}

.nav-list li {
    color: rgb(210, 236, 255);
    padding: 14px 30px;
    border-bottom: 1px solid #696969;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(210, 236, 255);
    font-weight: 100;
}

p {
    color: #fff;
    font-weight: 200;
    font-size: 17px;
}

ul.categories span {
    color: #fff;
}

.collection {
    border: 1px solid #a8a8a8;
}

.collection .collection-item {
    background-color: #385972;
    border-bottom: 1px solid #a8a8a8;
}

.date {
    color: #b7b7b7;
}

.color-dk-blue {
    color: #385972;
}

.color-lt-blue {
    color: rgb(210, 236, 255);
}